/node_modules
/public/hot
/public/storage
/public/mobile_users
/public/doctors
/public/event_category
/public/event_images
/public/events
/public/famous_images
/public/logo
/public/offer_images
/public/shops_images
/public/backend_users
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
/nbproject/private/
composer.lock
